{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindcss": {
    "config": "./tailwind.config.js",
    "format": "auto"
  },
  "purge": {
    "content": ["./src/**/*.{js,jsx,ts,tsx}"],
    "options": {
      "safelist": ["prose", "prose-sm", "m-auto"]
    }
  },
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 150
}
