@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-display: swap;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-in-sideTap {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-out-sideTap {
  0% {
    max-height: 100dvh;
  }
  100% {
    max-height: 0;
  }
}

@keyframes slide-in-horizontal {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.4s forwards;
}

.slide-in-sideTap {
  animation: slide-in-sideTap 0.6s forwards;
}

.slide-out-sideTap {
  animation: slide-out-sideTap 0.6s forwards;
}

.slide-in-horizontal {
  animation: slide-in-horizontal 0.5s forwards;
}

.slide-out-horizontal {
  animation: slide-out-horizontal 0.4s forwards;
}
/* :root {
  --foreground-rgb: 50, 50, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
  }
} */

body {
  font-family: 'GmarketSans', sans-serif;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
